$white: #ffffff !default;
$default-color: rgb(110, 0, 255) !default;
$button-stable-border: #b2b2b2  !default;

$material-curve-angular: cubic-bezier(0.35,0,0.25,1) !default;
$material-curve-shadows: cubic-bezier(0.4, 0, 0.2, 1) !default;
$material-curve-input:  cubic-bezier(0.62, 0.28, 0.23, 0.99) !default;

.color-picker-input {
    .color-handle {
        @include z-depth(1);
        display: block;
        float: left;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 10px;
        animation-name: bubble;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-timing-function: cubic-bezier(0.62, 0.28, 0.23, 0.99);

        &.remove-color {
            animation-name: bubble-out;
            animation-duration: 300ms;
            animation-fill-mode: forwards;
            animation-direction: normal;
            animation-iteration-count: 1;
            animation-timing-function: cubic-bezier(0.62, 0.28, 0.23, 0.99);
        }
    }

    label {
        float: left;
        height: 20px;
        line-height: 20px;
        animation-name: text-in-animate;
        animation-duration: 280ms;
        animation-fill-mode: forwards;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-timing-function: cubic-bezier(0.62, 0.28, 0.23, 0.99);

        &.hide {
            animation-name: text-out-animate;
            animation-duration: 280ms;
            animation-fill-mode: forwards;;
            animation-direction: normal;
            animation-iteration-count: 1;
            animation-timing-function: cubic-bezier(0.62, 0.28, 0.23, 0.99);
        }
    }

    .spacer {
        float: left;
        height: 20px;

    }
}

@keyframes bubble {
    0%   {
        transform: scale3d(0, 0, 1);
    }

    60%   {
        transform: scale3d(1.2, 1.2, 1);
    }

    80% {
        transform: scale3d(0.8, 0.8, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}
@keyframes bubble-out {
    0%   {
        transform: scale3d(1, 1, 1);
    }

    100% {
        transform: scale3d(0, 0, 1);
    }
}
@keyframes text-in-animate {
    0%   {
        color: rgba($button-stable-text, 0);
    }

    100% {
        color: rgba($button-stable-text, 1);
    }
}
@keyframes text-out-animate {
    0%   {
        color: rgba($button-stable-text, 1);
    }

    100% {
        color: rgba($button-stable-text, 0);
    }
}
