<ion-modal-view>
    <ion-pane>
        <ion-header-bar class="bar-positive">
            <div class="buttons buttons-left">
                <button class="button button-clear button-icon" md-ink-ripple ng-click="cpi.closeColorPicker()">
                    <i class="icon zmdi zmdi-arrow-left"></i>
                </button>
            </div>
            <h1 class="title">Color picker</h1>
        </ion-header-bar>
        <ion-content class="white" scroll="false">
            <!--
            selected-color="vm.picker.color"
            on-select="vm.selectColor(color)"
            -->
            <color-picker ng-if="cpi.onscreen" color-diameter="300" ></color-picker>
            <color-picker-colors colors="cpi.modalColors" ng-if="cpi.hasColors && cpi.onscreen"></color-picker-colors>
        </ion-content>
    </ion-pane>
</ion-modal-view>
